# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tsunami_vods_db
DB_USER=postgres
DB_PASSWORD=postgres

# Server Configuration
PORT=3001

VODS_API_URL=http://localhost:3001

YOUTUBE_API_KEY=123
YOUTUBE_CHANNEL_ID=123
